{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<article class="page">
  <div class="postheader">
    <h1>Bibliography</h1>
  </div>
  <div class="entry">
    <ul>
      {% for book in list %}
      <li class="citation">
        {% if book.writer %}{{ book.writer }}.{% endif %}
        {% if book.title %}<a href="{% url 'bib_view' book.slug  %}">{{ book.title }}</a>. {% endif %}
        {% if book.publisher %}{{ book.publisher }}, {% endif %}
        {% if book.datetime %}{{ book.datetime }}. {% endif %}
        {% if book.amt %}{{ book.amt }}. {% endif %}
        {% if book.material %}{{ book.material }} {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
