{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<article class="post">
  <div class="entry">
    <div class="postheader">
      <h1>{{ book.title }}</h1>
      <h2></h2>
    </div>
    <div class="featured-image"></div>
    <div class="metadata">
      {% if book.writer %}
      <dl>
        <dt>Writter</dt>
        <dd>{{ book.writer.name }}</dd>
      </dl>
      {% endif %}
      {% if book.designer %}
      <dl>
        <dt>Designer</dt>
        <dd>{{ book.designer.name }}</dd>
      </dl>
      {% endif %}
      {% if book.publisher %}
      <dl>
        <dt>Publisher</dt>
        <dd>{{ book.publisher.name }}</dd>
      </dl>
      {% endif %}
      {% if book.language %}
      <dl>
        <dt>Written in</dt>
        <dd>{{ book.language }}</dd>
      </dl>
      {% endif %}
      {% if book.publisher_place %}
      <dl>
        <dt>Place of Publication</dt>
        <dd>{{ book.publisher_place }}</dd>
      </dl>
      {% endif %}
      {% if book.medium %}
      <dl>
        <dt>Medium of the book</dt>
        <dd>{{ book.medium }}</dd>
      </dl>
      {% endif %}
      {% if book.page_amt %}
      <dl>
        <dt>Page Amount</dt>
        <dd>{{ book.page_amt }} pages</dd>
      </dl>
      {% endif %}
      {% if book.binding_type %}
      <dl>
        <dt>Binding Type</dt>
        <dd>{{ book.binding_type }}</dd>
      </dl>
      {% endif %}
      {% if book.colorspace %}
      <dl>
        <dt>Printed in </dt>
        <dd>{{ book.colorspace }}</dd>
      </dl>
      {% endif %}
      {% if book.price %}
      <dl>
        <dt>Price</dt>
        <dd>{{ book.price }}</dd>
      </dl>
      {% endif %}
    </div>
    {% if book.summary %}
    <h2 id="summary">Summary</h2>
    <div class="markdown">
      {{ book.summary }}
    </div>
    {% endif %}
    {% if book.toc %}
    <h2 id="table-of-contents">Table of Contents</h2>
    <div class="markdown">
      {{ book.toc }}
    </div>
    {% endif %}
    {% if book.figs %}
    <h2 id="list-of-figs">List of FIGs</h2>
    <div class="markdown">
      {{ book.figs }}
    </div>
    {% endif %}
    {% if book.distributor %}
    <h2>Distributor</h2>
    <ul>
      {% for distributor in book.distributor %}
      <li><a href="http://www.byeolcheck.kr/">{{ distributor.name }}</a>, Seoul</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</article>
{% endblock %}
