[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
django-extensions = "*"
ipython = {extras = ["notebook"]}
dj-database-url = "*"
pillow = "*"
boto = "*"
"boto3" = "*"
django-storages = "*"


[requires]

python_version = "3.6"
