[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
django-heroku = "*"
django-extensions = "*"
dj-database-url = "*"
pillow = "*"
boto = "*"
"boto3" = "*"
django-storages = "*"
djangorestframework = "*"
django = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
uwsgi = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
