{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="posts">
  <article class="post">
    <div class="postheader"></div>
    <ul>
      <li class="citation">
        <a title="Author of This Post" class="tooltip">KIM Miru</a>. " <a href="/achapters002-b02/"><span class="title" title="Click to read this post">금치산자레시피의 두번째 책, B02</span></a> " gtsz.rcp. <a title="Publisher" class="tooltip">gtsz.office</a>, <a title="Date of Published" class="tooltip">24 Sep. 2016</a>. Web.
      </li>
      <li class="citation">
        <a title="Author of This Post" class="tooltip">KIM Miru</a>. " <a href="/pcake-update/"><span class="title" title="Click to read this post">『피떡』 프로젝트</span></a> " gtsz.rcp. <a title="Publisher" class="tooltip">gtsz.office</a>, <a title="Date of Published" class="tooltip">6 Jun. 2016</a>. Web.
      </li>
      <li class="citation">
        <a title="Author of This Post" class="tooltip">KIM Miru</a>. " <a href="/gtszsampler-released/"><span class="title" title="Click to read this post">gtsz.sampler#001의 저장소가 오픈되었습니다</span></a> " gtsz.rcp. <a title="Publisher" class="tooltip">gtsz.office</a>, <a title="Date of Published" class="tooltip">31 May. 2016</a>. Web.
      </li>
      <li class="citation">
        <a title="Author of This Post" class="tooltip">KIM Miru</a>. " <a href="/daflogvol0-note/"><span class="title" title="Click to read this post">Photomerging on DAFLOG VOL 0</span></a> " gtsz.rcp. <a title="Publisher" class="tooltip">gtsz.office</a>, <a title="Date of Published" class="tooltip">1 Jun. 2015</a>. Web.
      </li>
      <li class="citation">
        <a title="Author of This Post" class="tooltip">KIM Miru</a>. " <a href="/michelson-moley/"><span class="title" title="Click to read this post">『Michelson-Morley the sea』 by Third Engineering Kartel</span></a> " gtsz.rcp. <a title="Publisher" class="tooltip">gtsz.office</a>, <a title="Date of Published" class="tooltip">29 Dec. 2014</a>. Web.
      </li>
      <li class="citation">
        <a title="Author of This Post" class="tooltip">KIM Miru</a>. " <a href="/boy-and-the-see/"><span class="title" title="Click to read this post">소년과 아이와 바다와 그 밖에 모든 호의에 관한 이야기들</span></a> " gtsz.rcp. <a title="Publisher" class="tooltip">gtsz.office</a>, <a title="Date of Published" class="tooltip">9 Nov. 2014</a>. Web.
      </li>
      <li class="citation">
        <a title="Author of This Post" class="tooltip">KIM Miru</a>. " <a href="/bowhead-whale/"><span class="title" title="Click to read this post">『Inuit woman and child standing on bowhead whale after a 2002 subsistence hunt』 by Ansgar Walk</span></a> " gtsz.rcp. <a title="Publisher" class="tooltip">gtsz.office</a>, <a title="Date of Published" class="tooltip">3 Oct. 2014</a>. Web.
      </li>
    </ul>
  </article>
</div>
{% endblock %}
