{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<article class="page">
  <div class="postheader">
    <h1>Distributor</h1>
  </div>
  <div class="entry">
    <table class="distributor">
      <thead>
        <tr>
          <th>Shop Name</th>
          <th>Region</th>
          <th>Country</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        {% for shop in bookshop %}
        <tr>
          <td>
            <a href="{{ shop.website }}">{{ shop.name }}</a>
          </td>
          <td>{{ shop.region }}</td>
          <td>{{ shop.country }}</td>
          <td><a href="https://www.google.co.kr/maps/place/{{ shop.address|urlencode }}">{{ shop.address }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</article>
{% endblock %}
